@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif 

}

:root {
    --cor1: rgb(231, 233, 235);
    --cor2: rgb(0, 168, 104);
    --cor3: rgb(33, 151, 68);
    --cor4: rgb(50, 124, 46);
}

/* MENU */

section#menu {
    height: 120px;
    position: relative;
}

div#botao-menu {
    position: absolute;
    top: 50px;
    right: 15px;
    transform: translate(-50%, 0, 0, 50%);
}

#logo {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 250px;
}

#botao {
    position: relative;
    padding: 10px;
    margin: 5px;
    box-shadow: 2px 2px 2px black;
    color: white;
    background-color: var(--cor3);
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 400ms ease;
}

#botao::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 41px;
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 8px;
    transition: all 2s ease;
}

#botao:hover::before {
    width: 100%;
}

/* PRIMEIRA BLOCO (QUEM SOMOS) */ 

section#bloco1 {
    height: 500px;
    position: relative;
    background-color: var(--cor3);
}

div#item1 {
    width: 450px;
    position: absolute;
    top: 120px;
    right: 150px;
    color: white

}

#img-funcionario {
    position: absolute;
    top: 250px;
    left: 450px;
    transform: translate(-50%, -50%);
    
}

#botao-bloco1 {
    position: absolute;
    right: 455px;
    bottom: 130px;

}

#botao-saibamais {
    margin: 10px;
    padding: 10px;
    position: relative;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 2px black;
    color: white;
    background-color: var(--cor4);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 400ms ease;
}

#botao-saibamais::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 43px;
    background-color: rgb(255, 255, 255, 0.3);
    border-radius: 8px;
    transition: all 2s ease;
}

#botao-saibamais:hover::before {
    width: 100%;
}

#img-bloco1 {
    width: 650px;
    border-radius: 15px;
}

h2 {
    padding: 5px;
    font-size: 30px;
}

p {
    padding: 5px;
    font-size: 18px;
}

.h2-verde {
    color: var(--cor3);
}

ul {
    padding: 2px;
    font-size: 18px;
    list-style-type: none;
}

li {
    padding: 5px;
}

h3 {
    padding: 5px;
    font-size: 24px;
}

/* Segundo bloco (Nossos serviços) */

section#bloco2 {
    height: 610px;
    position: relative;
    background-color: var(--cor3);
}


div#item2 {
    color: white;
    position: absolute;
    top: 10px;
    left: 120px;
}

#img-produto {
    position: absolute;
    top: 345px;
    left: 800px;
    transform: translate(-50%, -50%);
}

#img-bloco2 {
    width: 1200px;
}

/* Terceiro bloco (Aprendiz Stone)*/

section#bloco3 {
    height: 500px;
    position: relative;
}

div#item3 {
    width: 700px;
    position: absolute;
    top: 30px;
    left: 100px;
}

#foto1-b3 {
    position: absolute;
    right: 350px;
    bottom: 60px;
}

#foto2-b3 {
    position: absolute;
    top: 70px;
    right: 350px;
}

#foto3-b3 {
    position: absolute;
    top: 100px;
    right: 30px;
}


.img-bloco3 {
   width: 310px;
   border-radius: 15px;

}

/* Quarto bloco  */

section#bloco4 {
    height: 400px;
    position: relative;
    color: white;
    background-color: var(--cor3);
}

div#item4 {
    position: absolute;
    top: 90px;
    right: 150px;
}

#foto1-b4 {
    position: absolute;
    top: 20px;
    left: 350px;
}

#quadrado1-b4 {
    position: absolute;
    width: 240px;
    height: 250px;
    top: 20px;
    left: 100px;
    border-radius: 15px;
    background-color: var(--cor4);
    box-shadow: 2px 2px 4px black;
}

#quadrado2-b4 {
    position: absolute;
    width: 710px;
    height: 100px;
    bottom: 20px;
    left: 100px;
    border-radius: 15px;
    background-color: var(--cor4);
    box-shadow: 2px 2px 4px black;
}
 
#img-bloco4 {
    width: 450px;
    border-radius: 15px;
}

/* Quinto bloco */

section#bloco5 {
    height: 400px;
    position: relative;
}

div#item5 {
    width: 700px;
    position: absolute;
    top: 50px;
    left: 100px;
}

#img-bloco5 {
    width: 700px;
    position: absolute;
    top: 70px;
    right: 10px;
    border-radius: 15px;
}

/* Sexto bloco */

section#bloco6 {
    height: 550px;
    position: relative;
    background-color: var(--cor3);
}

div#caixa-remuneracao {
    width: 750px;
    height: 400px;
    position: absolute;
    top: 80px;
    right: 15px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
    background-color: white;
}

div#item6 {
    position: absolute;
    top: 40px;
    left: 210px;
    color: var(--cor3);
}

div#item7 {
    position: absolute;
    top: 120px;
    left: 15px;
}

div#item8 {
    position: absolute;
    top: 120px;
    right: 15px;
}

#img-remuneracao {
    width: 550px;
    border-radius: 0 200px 200px 0;
}

/* Setimo bloco */

section#bloco7 {
    height: 550px;
    position: relative;
}

div#item9 {
    position: absolute;
    top: 40px;
    left: 30px;
}

div#dyana {
    width: 700px;
    height: 380px;
    position: absolute;
    top: 120px;
    left: 65px;
    border-radius: 15px;
    color: white;
    box-shadow: 5px 5px 5px black;
    background-color: var(--cor3);
}

#img-dyana {
    width: 200px;
    position: absolute;
    top: 35px;
    left: 15px;
    border-radius: 15px;
}

#texto-dyana {
    position: absolute;
    top: 30px;
    left: 220px;
}

div#lucas {
    width: 700px;
    height: 380px;
    position: absolute;
    top: 120px;
    right: 30px;
    border-radius: 15px;
    color: white;
    box-shadow: 5px 5px 5px black;
    background-color: var(--cor3);
}

#img-lucas {
    width: 200px;
    position: absolute;
    top: 35px;
    left: 15px;
    border-radius: 15px;
}

#texto-lucas {
    width: 480px;
    position: absolute;
    top: 30px;
    left: 220px;
}

/* Footer */

footer {
    height: 200px;
    position: relative;
    background-color: var(--cor3);
    color: white;
}

#img-footer{
    position: absolute;
    width: 300px;
    top: 100px;
    left: 140px;
    transform: translate(-50%, -50%);
}

img.icones {
    width: 55px;
}

#ico-facebook {
    position: absolute;
    top: 50px;
    left: 1200px;
}

#ico-instagram {
    position: absolute;
    top: 50px;
    left: 1255px;
}

#ico-linkedin {
    position: absolute;
    top: 50px;
    left: 1310px;
}

#ico-twitter {
    position: absolute;
    top: 50px;
    left: 1365px;
}

#ico-youtube {
    position: absolute;
    top: 50px;
    left: 1420px;
}

#botao-footer {
    position: relative;
    top: 120px;
    left: 1260px;
    padding: 15px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    box-shadow: 5px 5px 5px black;
    font-size: 18px;
    font-weight: 400;
    color: var(--cor3);
    background-color: white; 
    cursor: pointer;
    transition: all 400ms ease;
}

#botao-footer::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 51px;
    background-color: rgb(33, 151, 68, 0.3);
    border-radius: 8px;
    transition: all 2s ease;
}

#botao-footer:hover::before {
    width: 100%;
}